




<div>
    <form nz-form [formGroup]="emailTemplateForm" class="ant-advanced-search-form">
        
        <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="email_subject" nz-typography>Email Subject</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
          <input nz-input formControlName="email_subject" id="email_subject" placeholder="Enter email subject"/>
          <ng-container *ngIf="emailTemplateForm.get('email_subject').errors?.required">
            Email subject is required.
          </ng-container>
        </nz-form-control>
      </nz-form-item>
      
            <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="email" nz-typography>Email</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
          <input nz-input formControlName="email" id="email" placeholder="Enter top header text"/>
          <ng-container *ngIf="emailTemplateForm.get('email').errors?.required">
            Email is required.
          </ng-container>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="password" nz-typography>Password</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
          <input nz-input formControlName="password" id="password" placeholder="Enter top header text"/>
          <ng-container *ngIf="emailTemplateForm.get('password').errors?.required">
            Password is required.
          </ng-container>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="email_content" nz-typography>Content Text</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <textarea matInput formControlName="email_content" id="title" placeholder="Enter email content" 
                style="padding: 5px 5px;width: 100%;resize: none;height: 80px;"></textarea>
                <ng-container *ngIf="emailTemplateForm.get('email_content').errors?.required">
                    Email content is required.
            </ng-container>
        </nz-form-control>
    </nz-form-item>
   
    </form>
</div>





