<!-- <mat-progress-bar mode="indeterminate" [hidden]="!isLoading"></mat-progress-bar>
<mat-card>
    <mat-card-header>
        <mat-card-title>Project Listing</mat-card-title>
        <button class="create-user-btn" mat-stroked-button color="primary" (click)="openCreateProjectModal()">Create a
      Project</button>
    </mat-card-header>
    <mat-card-content>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>SNo.</th>
                        <th>Title</th>
                        <th>Impact</th>
                        <th>No. Of Students</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let project of projectList;  let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{project?.title}}</td>
                    <td>{{project?.impact}}</td>
                    <td>{{project?.students_count}}</td>
                    <td>{{project?.start_date | date}}</td>
                    <td>{{project?.end_date | date}}</td>
                    <td>
                        <mat-icon title="view detail" [routerLink]="['project/'+ project._id]">visibility</mat-icon>
                    </td>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card> -->
<nb-card style="width: 100%;">
    <nb-card-header>
        <nz-page-header nzTitle="Project Listing">
            <!-- <button class="create-user-btn" mat-stroked-button color="primary" (click)="openCreateBlogModal()">Create a Blog</button> -->
            <nz-page-header-extra>
                <button nz-button nzType="primary" (click)="openModal(Mode.Create, null, null)" nz-typography>Create a Project</button>
            </nz-page-header-extra>
            <nz-page-header-content>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="input search text" #searchBox [(ngModel)]="searchText"/>
                </nz-input-group>
                <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
                </ng-template>
            </nz-page-header-content>
        </nz-page-header>
    </nb-card-header>
        <nz-list nzGrid nzBordered>
            <div nz-row [nzGutter]="16" *ngFor="let project of projectList;  let j = index;">
                <nz-list-item>
                    <nb-card style="width: 100%;">
                        <nb-card-header>
                            <span>{{j+1}}. </span>{{project?.title}}
                            <nz-tag [nzColor]="'green'" *ngIf="project.status == 1" nz-typography>Active</nz-tag>
                            <nz-tag [nzColor]="'red'" *ngIf="project.status == 2" nz-typography>In-Active</nz-tag>
                            
                            <ng-container>
                                <div style="float: right;">
                                    <button *ngIf="project?.projectPaymentUser.length > 0" nz-button nzType="primary" (click)="ShowtheuserPayament(Mode.Create,project?._id, project?.projectPaymentUser)" nz-typography class="mr-2">Payment</button>
                                    <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'">Actions <i nz-icon nzType="down"></i></button>
                                </div>
                                
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item>
                                            <a (click)="openModal(Mode.Edit, project._id, project)">Edit</a>
                                        </li>
                                        <li nz-menu-item>
                                            <a (click)="deleteProject( project._id, project)">Delete</a>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                              </ng-container>
                        </nb-card-header>
                        <nb-card-body>
                            {{project?.description}}
                            <!-- <div style="margin: 10px;">
                                <nz-tag [nzColor]="'gray'" *ngFor="let skill of project.skills;  let i = index;" nz-typography>{{skill}}</nz-tag>
                            </div> -->
                        </nb-card-body>
                        <nb-card-footer>
                            <nz-tag [nzColor]="'gray'" *ngFor="let tag of project.keyword;  let k = index;" nz-typography>{{tag}}</nz-tag>
                        </nb-card-footer>
                    </nb-card>
                </nz-list-item>
            </div>
          </nz-list>
</nb-card>
<app-load-more [isLoading]="isLoading" [isHidden]="projectList.length<=0"></app-load-more>
