mat-card-header {
  position: relative;
  padding: 15px 0px;
}
.ant-list-item {
  width: 100% !important;
}
.ant-list-item .nb-theme-default nb-card {
  width: 100% !important;
}

nb-card-footer {
  justify-content: space-between;
  display: flex;
}
