<div>
    <form nz-form [formGroup]="pageContentForm" class="ant-advanced-search-form">

        <nz-form-item>
            <nz-form-label [nzXs]="24" nzRequired nzFor="description" nz-typography>Title</nz-form-label>
            <nz-form-control [nzXs]="24" nzHasFeedback>
                <textarea matInput formControlName="title" id="title" placeholder="Enter title" 
                    style="padding: 5px 5px;width: 100%;resize: none;height: 80px;"></textarea>
                    <ng-container *ngIf="pageContentForm.get('title').errors?.required">
                    Title is required.
                </ng-container>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzXs]="24" nzRequired nzFor="description" nz-typography>Sub Title</nz-form-label>
            <nz-form-control [nzXs]="24" nzHasFeedback>
                <textarea matInput formControlName="subtitle" id="title" placeholder="Enter title" 
                    style="padding: 5px 5px;width: 100%;resize: none;height: 80px;"></textarea>
                    <ng-container *ngIf="pageContentForm.get('subtitle').errors?.required">
                    Sub Title is required.
                </ng-container>
            </nz-form-control>
        </nz-form-item>
       
        <nz-form-item>
            <nz-form-label [nzXs]="24" nzRequired nzFor="status" nz-typography>Status</nz-form-label>
            <nz-form-control [nzXs]="24" nzHasFeedback>
                <nz-switch formControlName="status"></nz-switch>
                <ng-container *ngIf="pageContentForm.get('status').errors?.required">
                    Status is required.
                </ng-container>
            </nz-form-control>
        </nz-form-item>

        <div nz-row>
            <input type="file" (change)="onFileUpload($event)" accept=".png,.jpeg,.jpg" />
        </div>
        <div style="color: green;">
            Accept only png, jpeg, jpg. <span> (Please upload around image size 900 x 400)</span>
        </div>
        <img *ngIf="selectFile" alt="project" style="height: 100px; width: 100px;margin-top: 5px;" src="{{selectFile}}">

    </form>
</div>