<mat-progress-bar mode="indeterminate" [hidden]="!isLoading"></mat-progress-bar>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{!partner ? 'Add University Partner' : 'Update University Partner'}}</mat-card-title>
    <span class="spacer"></span>
    <span>
      <button mat-icon-button>
        <mat-icon (click)="closeModal()">close</mat-icon>
      </button>
    </span>
  </mat-card-header>
  <mat-card-content>
    <mat-dialog-content class="m-0" style="max-width: 700px;">
      <form [formGroup]="universityPartnerGroup" (ngSubmit)="onSubmitForm()">
        <div class="row">
          <mat-form-field class="col-12 col-sm-12 col-md-6">
            <input formControlName="name" matInput placeholder="university name">
            <app-input-validation [control]="universityPartnerGroup.get('name')"></app-input-validation>
          </mat-form-field>
          <mat-form-field class="col-12 col-sm-12 col-md-6">
            <input formControlName="email" matInput placeholder="Ex. user@example.com">
            <app-input-validation [control]="universityPartnerGroup.get('email')"></app-input-validation>
          </mat-form-field>
          <mat-form-field class="col-12 col-sm-12 col-md-6">
            <input formControlName="password" matInput placeholder="Password" type="password">
            <app-input-validation [control]="universityPartnerGroup.get('password')"></app-input-validation>
          </mat-form-field>
          <div class="col-12 col-sm-12 col-md-6">
            <ng-select class="reduce-spacing" [items]="countries" bindLabel="name" bindValue="id" [searchable]="true"
              [clearable]="false" placeholder="Countries" formControlName="country" (change)="onSelectCountry($event)">
            </ng-select>
            <app-input-validation [control]="universityPartnerGroup.get('country')"></app-input-validation>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <ng-select class="reduce-spacing mb-12" [items]="states" bindLabel="name" bindValue="id" [searchable]="true"
              [clearable]="false" placeholder="States" formControlName="state" (change)="onSelectState($event)">
            </ng-select>
            <app-input-validation [control]="universityPartnerGroup.get('state')"></app-input-validation>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <ng-select class="reduce-spacing mb-12" [items]="cities" formControlName="city" bindLabel="name"
              bindValue="id" [searchable]="true" [clearable]="false" placeholder="Cities"></ng-select>
            <app-input-validation [control]="universityPartnerGroup.get('city')"></app-input-validation>
          </div>
          <ng-container formGroupName="university_partner">
            <mat-form-field class="col-12 col-sm-12 col-md-12">
              <input formControlName="address" matInput placeholder="Address">
              <app-input-validation [control]="universityPartnerGroup.get('university_partner').get('address')">
              </app-input-validation>
            </mat-form-field>
            <ng-container formArrayName="contact_person_for_collegey">
              <ng-container *ngFor="let item of contactPersonFormArray.controls;let i = index">
                <ng-container formGroupName="{{i}}">
                  <mat-form-field class="col-12 col-sm-12 col-md-6">
                    <input formControlName="name" matInput placeholder="contact person name">
                    <app-input-validation [control]="contactPersonFormArray.controls[i].get('name')">
                    </app-input-validation>
                  </mat-form-field>

                  <div class="col-12 col-sm-12 col-md-6 no-padding" style="display: flex;" formGroupName="phone_number">
                    <div class="col-md-5">
                      <ng-select class="reduce-spacing" [items]="countryPhoneCode" bindLabel="name" bindValue="_id"
                        [searchable]="true" [clearable]="false" placeholder="Ind +91" formControlName="extension">
                      </ng-select>
                      <app-input-validation
                        [control]="contactPersonFormArray.controls[i].get('phone_number').get('extension')">
                      </app-input-validation>
                    </div>
                    <div class="col-md-7">
                      <mat-form-field class="full-width">
                        <mat-label>contact person cell number</mat-label>
                        <input matInput type="text" formControlName="number">
                        <app-input-validation
                          [control]="contactPersonFormArray.controls[i].get('phone_number').get('number')">
                        </app-input-validation>
                      </mat-form-field>
                    </div>
                  </div>
                </ng-container>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="col-md-12">
            <button class="float-right" type="submit" mat-flat-button color="primary">Submit</button>
        </div>
      </form>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>