.login-card {
    position: absolute;
    width: 25%;
    top: 50%;
    height: 270px;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-card-header {
    margin-top: 10px !important;
}

mat-form-field {
    margin-bottom: 15px;
}