<mat-progress-bar mode="indeterminate" [hidden]="!isLoading"></mat-progress-bar>
<mat-card>
  <mat-card-header>
    <mat-card-title>View Student Info &nbsp;&nbsp;
    </mat-card-title>
    <span class="spacer"></span>
    <span>
      <button mat-icon-button>
         <mat-icon (click)="openUpdateModal()">edit</mat-icon>
      </button>
    </span>
  </mat-card-header>
  <mat-card-content>
    <mat-dialog-content class="m-0">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <td>Name</td>
              <td>{{studentInfo?.name}}</td>
            </tr>
            <tr>
              <td>Slug</td>
              <td>{{studentInfo?.slug}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{studentInfo?.email}}</td>
            </tr>
            <tr>
              <td>Qualification</td>
              <td>{{studentInfo?.qualification}}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{studentInfo?.status}}</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>{{studentInfo?.type}}</td>
            </tr>
            <tr>
              <td>Created At</td>
              <td>{{studentInfo?.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
            <tr>
              <td>Updated At</td>
              <td>{{studentInfo?.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>

            </tr>


          </thead>
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
