<div>
    <form nz-form [formGroup]="resourceForm" class="ant-advanced-search-form">
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="mentorResourcesTitle" nz-typography>Mentor Resources  Title</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="mentorResourcesTitle" id="mentorResourcesTitle" placeholder="Enter Mentor Resources  Title title"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="mentorFavoriteArticlesTitle" nz-typography>Mentor Favorite Articles Title</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="mentorFavoriteArticlesTitle" id="mentorFavoriteArticlesTitle" placeholder="Enter Mentor Favorite Articles Title"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="mentorCuratedRsourcesTitle" nz-typography>Mentor Curated Rsources Title</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="mentorCuratedRsourcesTitle" id="mentorCuratedRsourcesTitle" placeholder="Enter Mentor Curated Rsources Title"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="mentorResourceFileTitle" nz-typography>Mentor  Resources File​ Title</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="mentorResourceFileTitle" id="mentorResourceFileTitle" placeholder="Enter Mentor  Resources File Title"/>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="studentResourcesTitle" nz-typography>Student Resources  Title</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="studentResourcesTitle" id="studentResourcesTitle" placeholder="Enter Student Resources  Title title"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="studentFavoriteArticlesTitle" nz-typography>Student Favorite Articles Title</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="studentFavoriteArticlesTitle" id="studentFavoriteArticlesTitle" placeholder="Enter Student Favorite Articles Title"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="studentCuratedRsourcesTitle" nz-typography>Student Curated Rsources Title</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="studentCuratedRsourcesTitle" id="studentCuratedRsourcesTitle" placeholder="Enter Student Curated Rsources Title"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="studentResourceFileTitle" nz-typography>Student  Resources File​ Title</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="studentResourceFileTitle" id="studentResourceFileTitle" placeholder="Enter Student  Resources File Title"/>
        </nz-form-control>
      </nz-form-item> 
           

    </form>
</div>