<nb-card style="width: 100%;">
    <nb-card-header>
        <nz-page-header nzTitle="Team Member listing">
            <nz-page-header-extra>
                <button nz-button nzType="primary" (click)="openModal(Mode.Create, null, null)" nz-typography>Add Member</button>
            </nz-page-header-extra>
        </nz-page-header>
    </nb-card-header>
        <nz-list nzGrid nzBordered>
            <div nz-row [nzGutter]="16" *ngFor="let listdata of teamList;  let j = index;">
                <nz-list-item class="w-100">
                    <nb-card style="width: 100%;">
                        <nb-card-header>
                            <span>{{j+1}}. </span>{{listdata.name}} &nbsp;
                            <nz-tag [nzColor]="'red'" *ngIf="listdata?.active == false" nz-typography>Deactivated</nz-tag>
                            <ng-container>
                                <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'" style="float: right;">Actions <i nz-icon nzType="down"></i></button>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item>
                                            <a (click)="openModal(Mode.Edit, listdata._id, listdata)">Edit</a>
                                        </li> 
                                        <li nz-menu-item *ngIf="listdata?.isDeleted == false">
                                            <a (click)="deleteArticle(listdata?._id)">Delete </a>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                              </ng-container>
                        </nb-card-header>
                        <nb-card-body>
                            <div>
                                <b>Designation:</b> {{listdata?.designation}}
                            </div><br>
                            <div>
                                <b>Description:</b> {{listdata?.description}}
                            </div>
                            
                        </nb-card-body>
                    </nb-card>
                </nz-list-item>
            </div>
          </nz-list>
</nb-card>