<nb-card style="width: 100%;">
    <nb-card-header>
        <nz-page-header nzTitle="Home Fifth  Section">
            <nz-page-header-extra>
                <!-- <button nz-button nzType="primary" *ngIf="assignData.length == 0"
                    (click)="openModal(Mode.Create, null, null,'mainTitle')" nz-typography>Add Fifth Section
                    Details</button> -->
                <button nz-button nzType="primary" nz-typography
                    (click)="openModal(Mode.Create, 0, null,'subTitle')">Add Sub Item Data</button>
            </nz-page-header-extra>
        </nz-page-header>
    </nb-card-header>
    <nz-list nzGrid nzBordered>
        <div nz-row [nzGutter]="16" *ngFor="let dataList of assignData;  let j = index;">
            <nz-list-item class="w-100">
                <nb-card style="width: 100%;">
                    <nb-card-header>
                        <p [innerHTML]="dataList?.title"></p>
                        <br />
                        Bottom Title :- {{dataList?.bottomTitle}}
                        <p> Bottom One :- </p>
                        <p>Text :- {{dataList?.bottomButton[0].text}}</p>
                        <p>Link :- {{dataList?.bottomButton[0].link}}</p><br />
                        <p> Bottom Two :- </p>
                        <p>Text :- {{dataList?.bottomButton[1].text}}</p>
                        <p>Link :- {{dataList?.bottomButton[1].link}}</p><br />
                        <p> Bottom Three :- </p>
                        <p>Text :- {{dataList?.bottomButton[2].text}}</p>
                        <p>Link :- {{dataList?.bottomButton[2].link}}</p><br />
                        <nz-tag [nzColor]="'red'" *ngIf="dataList?.status == false" nz-typography>Deleted</nz-tag>
                        <ng-container>
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'"
                                style="float: right;">Actions <i nz-icon nzType="down"></i></button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item>
                                        <a (click)="openModal(Mode.Edit,j,dataList,'mainTitle')">Edit</a>
                                    </li>
                                    <!-- <li nz-menu-item>
                                        <a (click)="deleteHome(j,'mainTitle')">Delete</a>
                                    </li>
                                    <li nz-menu-item *ngIf="dataList?.status == false">
                                        <a>Delete</a>
                                    </li> -->
                                </ul>
                            </nz-dropdown-menu>
                        </ng-container>
                    </nb-card-header>
                    <nb-card-body>
                        <img *ngIf="dataList?.backgroundImg" alt="project"
                            style="height: 100px; width: 100px;margin-top: 5px;" src="{{dataList?.backgroundImg}}">
                    </nb-card-body>
                    <nb-card-footer *ngFor="let subdataList of dataList?.sectionData;  let j = index;">
                        Title : {{subdataList?.text}} <br />
                        <img *ngIf="subdataList?.sectionImg" alt="project"
                            style="height: 100px; width: 100px;margin-top: 5px;" src="{{subdataList?.sectionImg}}">
                        <ng-container>
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'"
                                style="float: right;">Actions <i nz-icon nzType="down"></i></button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item>
                                        <a (click)="openModal(Mode.Edit,j,subdataList,'subTitle')">Edit</a>
                                    </li>
                                    <li nz-menu-item>
                                        <a (click)="deleteHome(j,'subTitle')">Delete</a>
                                    </li>
                                    <li nz-menu-item *ngIf="dataList?.status == false">
                                        <a>Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </ng-container>
                    </nb-card-footer>
                </nb-card>
            </nz-list-item>
        </div>
    </nz-list>
</nb-card>

<div *ngIf="show_loader" class="collegy_loader">
    <img src="../../../../assets/images/loading-buffering.gif">
</div>