<div>
    <form nz-form [formGroup]="blogFormGroup" class="ant-advanced-search-form">
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="title" nz-typography>Name</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="name" id="name" placeholder="Enter Name"/>
            <ng-container *ngIf="submitted && blogFormGroup.get('name').errors?.required">
              <span class="clg-error-textcolor">Name is required.</span>
            </ng-container>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="last_name" nz-typography>Last Name</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="last_name" id="last_name" placeholder="Enter Last Name"/>
            <ng-container *ngIf="submitted && blogFormGroup.get('last_name').errors?.required">
              <span class="clg-error-textcolor">Last Name is required.</span>
            </ng-container>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="email" nz-typography>Email</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="email" id="email" placeholder="Enter Email"/>
            <ng-container *ngIf="submitted && blogFormGroup.get('email').errors?.required">
              <span class="clg-error-textcolor">Email is required.</span>
            </ng-container>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="password" nz-typography>Password</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="password" id="password" placeholder="Enter Password"/>
            <ng-container *ngIf="submitted && blogFormGroup.get('password').errors?.required">
              <span class="clg-error-textcolor">Password is required.</span>
            </ng-container>
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="qualification" nz-typography>Qualification</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="qualification" id="qualification" placeholder="Enter Qualification"/>
            <ng-container *ngIf="submitted && blogFormGroup.get('qualification').errors?.required">
              <span class="clg-error-textcolor">Qualification is required.</span>
            </ng-container>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="tags" nz-typography>Phone Number</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback>
          <input nz-input formControlName="phone_number" id="phone_number" placeholder="Enter Phone Number"/>
          <ng-container *ngIf="submitted && blogFormGroup.get('phone_number').errors?.required">
            <span class="clg-error-textcolor">Phone Number is required.</span>
          </ng-container>
        </nz-form-control>
      </nz-form-item> -->
      <!-- <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="gender" nz-typography>Gender</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback >
            <nz-radio-group formControlName="gender">
                <label nz-radio [nzValue]="true">Male</label>
                <label nz-radio [nzValue]="false">Female</label>
              </nz-radio-group>
            <ng-container *ngIf="blogFormGroup.get('gender').errors?.required">
                 Mandatory
            </ng-container>
        </nz-form-control>
      </nz-form-item> -->
   
      <nz-form-item>
        <nz-form-label [nzXs]="24" nzRequired nzFor="status" nz-typography>Status</nz-form-label>
        <nz-form-control [nzXs]="24" nzHasFeedback >
            <nz-switch formControlName="status" ></nz-switch>
            <ng-container *ngIf="submitted && blogFormGroup.get('status').errors?.required">
              <span class="clg-error-textcolor">Status is required.</span>
            </ng-container>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>